body{
    margin: 0;
    padding: 0;
    background-color: #DCD7C9;
}

header{
    padding: 0 25px;
    height: 50px;
    background-color: #2C3639;
}

/* Navbar characteristics */
.navbar-items{
    align-items: center;
    margin-left: 90px;
    display: flex;
    justify-content: right;
    list-style-type: none;
    position: relative;
    bottom: 55px;
}

.name{
    text-decoration: none;
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.links{
    margin: 0 25px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #DCD7C9;
    font-size: 16px;
    font-weight: 200;
}
.links:hover{
    color: #99A799;
    transition: 250ms;
}

.btn-about{
    background-color: #99A799;
    border: transparent;
    width: 160px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-about{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #1d1d1d;
    font-size: 18px;
    padding: 3px
}

.btn-about:hover{
    background-color: #3F4E4F;
    color: #ffff;
    transition: 150ms;
}

.nav-menu{
    display: none;
}


/* About Us page */
.ausejo-image{
    height: 300px;
}

.ausejo-image{
    margin: 30px;
    margin-bottom: 1px;
    position: relative;
}

.ausejo-image{
    border: solid;
    border-color: #2C3333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text{
    border: solid;
    border-color: #2C3333;
    border-top: #2C3333;
    background: #2C3333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
    width: 290px;
    position: relative;
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text{
    position: relative;
    color: #DCD7C9;
    margin-top: 0px;
    margin-left: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.barlam-image{
    height: 300px;
    width: 300px;
}

.barlam-image{
    margin: 0 502px;
    margin-bottom: 1px;
    position: absolute;
    top: 81px;
}

.barlam-image{
    border: solid;
    border-color: #2C3333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.person-2-text{
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.person-2-text{
    border: solid;
    border-color: #2C3333;
    border-top: #2C3333;
    background: #2C3333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.person-2-text{
    margin: 0 502;
    position: absolute;
    top: 387px;
}

.vista-image{
    height: 300px;
}

.vista-image{
    margin-bottom: 1px;
    position: absolute;
    top: 84px;
    right: 27px;
}

.vista-image{
    border: solid;
    border-color: #2C3333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.person-3-text{
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.person-3-text{
    position: absolute;
    top: 387px;
    right:  27px;
}

.person-3-text{
    border: solid;
    border-color: #2C3333;
    border-top: #2C3333;
    background: #2C3333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
    width: 292px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* Contact page */
.page-header{
    color: #2C3333;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 32px;
}

.contact-info{
    margin: 0 30px;
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    border-radius: 6px;
    width: 290px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact-title{
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.facebook-link{
    text-decoration: none;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 24px;
}
.facebook-link:hover{
    font-size: 25px;
    transition: ease-in-out 200ms;
}

.mail-me{
    text-decoration: none;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.mail-me:hover{
    font-size: 17px;
    transition: ease-in-out 200ms;
}

.contact-info_2{
    margin: 0 502px;
    margin-bottom: 1px;
    position: absolute;
    top: 230px;
}

.contact-info_2{
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    border-radius: 6px;
    width: 290px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mail-me-2{
    text-decoration: none;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.mail-me-2:hover{
    font-size: 17px;
    transition: ease-in-out 200ms;
}

.contact-info_3{
    margin-bottom: 1px;
    position: absolute;
    top: 230px;
    right: 27px;
}

.contact-info_3{
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    border-radius: 6px;
    width: 290px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.mail-me-3:hover{
    font-size: 17px;
    transition: ease-in-out 200ms;
}

.home-page-title{
    text-align: center;
    border: solid;
    border-color: #3F4E4F;
    background-color: #3F4E4F;
    border-radius: 10px;
    margin: 40px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading-title{
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    margin: 0;
    border-top-right-radius: 6  px;
    border-top-left-radius: 6px;
    color: #DCD7C9;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.greeting-welcome{
    color: #DCD7C9;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.paragraphs{
    padding: 50px;
    text-align: justify;
    color: #DCD7C9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.home-page-introduction{
    text-align: center;
    position: absolute;
    top: 90px;
    right: 40px;
    border: solid;
    border-color: #3F4E4F;
    background: #3F4E4F;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.introduction{
    text-align: center;
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    margin: 0;
    border-top-right-radius: 6  px;
    border-top-left-radius: 6px;
    color: #DCD7C9;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.greeting-introduction{
    color: #DCD7C9;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.introduction-paragraph{
    padding: 50px;
    text-align: justify;
    color: #DCD7C9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.home-page-footer{
    margin-top: 83px;
    background: #2C3333;
}

.footer-paragraph{
    text-align: center;
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.group-link{
    text-decoration: none;
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.group-link:hover{
    color: #c29e00;
    transition: 200ms;
}

.sample-person{
    height: 300px;
}

.sample-person{
    margin-bottom: 1px;
    position: absolute;
    top: 84px;
    right: 27px;
}

.sample-person{
    border: solid;
    border-color: #2C3333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.person-example{
    color: #DCD7C9;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.person-example{
    position: absolute;
    top: 387px;
    right:  27px;
}

.person-example{
    border: solid;
    border-color: #2C3333;
    border-top: #2C3333;
    background: #2C3333;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about-career{
    text-align: center;
    border: solid;
    border-color: #3F4E4F;
    background-color: #3F4E4F;
    border-radius: 10px;
    margin: 40px;
    width: 800x;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.career-heading{
    border: solid;
    border-color: #2C3333;
    background-color: #2C3333;
    margin: 0;
    border-top-right-radius: 6  px;
    border-top-left-radius: 6px;
    color: #DCD7C9;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.about-cyber-sec{
    padding: 50px;
    text-align: justify;
    color: #DCD7C9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.reference{
    text-decoration: none;
    padding-left: 40px;
    text-align: left;
    color: #DCD7C9;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.reference_link{
    text-decoration: none;
    text-align: left;
    color: #DCD7C9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.reference_link:hover{
    color: #c29e00;
    font-size: 24px;
    transition: 200ms;
}




























































